:root {
    --bg-grey: #ccc;
    --bg-grey-light: #999;
    --bg-gray-main: #333;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}

.cabecera {
    background-color: var(--bg-gray-main);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.nav-link {
    text-decoration: none;
    color: #eee;
    padding: 0.3rem 0.4rem;
}

.nav-link:hover {
    background-color: rgba(200,200,200, 0.3);
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
   background-color: var(--bg-gray-main);
   padding: 30px;
   text-align: center;
   color: #fff;
   font-size: 2rem;
}


.video {
    width: 200px;
    /* display: inline-block; */
}

.video-description {
    display: flex;
    margin-top: 0.3rem;
}

.avatar {
    border-radius: 100%;
    margin: 0 0.3rem; 
    /* margin-left: 0.3rem;
    margin-right: 0.3rem; */
}

.video-info {}

.video-info h3 {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.video-info p {
    font-size: 0.7rem;
    color: #666
}

.videos-container {
    display: flex;
    justify-content: center;
    /* 
        align-items: center;
        
        align-content: center; 
    */
}

.videos-cards {
    display: grid;
    grid-template-columns: 1fr;
    /* display: flex;
    gap: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap; */
}

.navigation {
    display: none;
}

.nav-button {
    background-color: transparent;
    border:2px solid var(--bg-grey-light);
    color: var(--bg-grey-light);
    border-radius: 1rem;
}

@media screen and (min-width: 481px) {
    .videos-cards {
        /* flex-direction: row;
        width: 450px; */
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 781px) {
    .videos-cards {
        /* flex-direction: row;
        width: 650px; */
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navigation {
        display: block;
    }

    .nav-button {
        display: none;
    }
}